
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Loners Admin</title>
	<link rel="stylesheet" href="{% static 'admin-login/admin-index.css' %}">

</head>

<body>
	

	<div class="login-page">

		<div class="login-container">
			
	
			<div class="title">
				Staff Login
			</div>
			<div class="error">
				{{errors}}
			</div>
			
			<div>
				Not a staff? <a href="http://lonersmafia.com/">go home and chat</a>
			</div>
	
			<form method="post" action="{% url 'admin-login' %}" class="login-form">
				{% csrf_token %}
				<input type="email" name="email" placeholder="email" class="input" required>
				<input type="password" name="password" placeholder="password" class="input" autocomplete required>
				<input type="submit" value="login" class="submit-btn">
			</form>
		</div>

	</div>
</body>

</html>
