django==4.0.6
pillow==9.2.0
daphne==3.0.2
channels==3.0.5
django-ipware==4.0.2
django-environ==0.9.0
channels-redis==3.4.1
psycopg2-binary==2.9.3
djangorestframework==3.13.1
django-cors-headers==3.13.0

gunicorn==20.1.0
supervisor==4.2.4

boto3==1.24.43
django-storages==1.12.3